# Ignore VS Code settings
.vscode/

# Igonore TailwindCSS config
public/assets/css/application.css

node_modules/
package-lock.json
composer.lock

# Ignore logs and temporary files
*.log
*.tmp

# Ignore vendor folder
/vendor/

# Ignore cache folder
.cache/*

# Ignore .env
.env
